﻿@model GRASTATKI.Models.Player

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Players</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Players", "Home", FormMethod.Get))
        {
            @Html.ValidationSummary()
            <p>Imie gracza 1: @Html.TextBoxFor(x => x.PlayerName)</p>
            <p>Imie gracza 2: @Html.TextBoxFor(x => x.PlayerName)</p>
            <input type="submit" class="btn btn-default" value="Submit" />
        }
    </div>
</body>
</html>
